{
    "extends": [
        "@rocketseat/eslint-config/react"
    ],
    "plugins": [
        "simple-import-sort"
    ],
    "rules": {
        "simple-import-sort/imports": "error",
        "max-len":"off"
    },
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": "latest"
    }
}